<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Calculator Golang</title>
</head>
<body>
    <div class="container">
        <h1>Web Calculator Golang</h1>
        <p class="message">Чтобы перейти к вычислению, войдите или зарегистрируйтесь</p>
        <div class="buttons">
            <a href="/register" class="btn register-btn">Регистрация</a>
            <a href="/login" class="btn login-btn">Войти</a>
        </div>
    </div>
</body>
</html>