# example
server.HTTP_HOST=localhost
server.HTTP_PORT=8080
server.GRPC_HOST=localhost
server.GRPC_PORT=50051

duration.TIME_ADDITION_MS=100
duration.TIME_SUBTRACTION_MS=100
duration.TIME_MULTIPLICATIONS_MS=100
duration.TIME_DIVISIONS_MS=100

DATABASE_PATH=./db/calc.db

worker.COMPUTING_POWER=5

